<h1>Movie Mind Reading</h1>

<div class="question_1">
  Do you know what low-budget films I am thinking of?
  <ul id="low-budgets">
  </ul>
</div>

<div class ="question_2">
  Do you know what Leo films I am thinking of?
  <ul id="Leos">
  </ul>
</div>

<button type="button" id="button" class:"btn btn-lg btn-success">Get My Answer</button>

<!-- <script>
$(window).ready(function(){
    $.getJSON("/movies.json").then(function(data){
      var titles = data.titles;
      console.log(titles);
      // use underscore on the data
    })
  });

</script> -->
